<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Catalog of devices</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <p>
    <h3>catalog</h3>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th> Name </th>
            <th> Model </th>
            <th> Serial number </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${devices.empty}">
            <td colspan="2"> Not devices </td>
        </tr>
        <tr th:each="device : ${devices}">
            <td><span th:text="${device.name}"> Name </span></td>
            <td><span th:text="${device.model}"> Model </span></td>
            <td><span th:text="${device.serialnumber}"> serial number </span></td>

        </tr>
        </tbody>
    </table>
    <a href="/back">back</a>
</div>
<p/>
</body>
</html>
