<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>engineers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <p>
    <h3>engineers</h3>
    </p>
    <a href="/back">back</a>
    <table class="table">
        <thead>
        <tr>
            <th> name </th>
            <th> lastname </th>
            <th> device </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${engineers.empty}">
            <td colspan="2"> Not  </td>
        </tr>
        <tr th:each="engineer : ${engineers}">
            <td><span th:text="${engineer.name}"> name </span></td>
            <td><span th:text="${engineer.lastname}"> lastname </span></td>
            <td><span th:text="${engineer.device}"> device </span></td>

        </tr>
        </tbody>
    </table>

</div>
<p/>
</body>
</html>